.home,
.products,
.about,
.contact,
.signup,
.notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: 2rem;
    font-weight: 600;
}

@media only screen and (max-width:698px) {

    .home,
    .products,
    .about,
    .contact,
    .signup,
    .notfound {
        font-size: 1.3rem;
    }
}